{{ define "main" -}}

    <main role="main" class="content">
        <article class="post">
            <a class="btn home" href="/{{ .Lang }}" title="{{ i18n "back_to_home" }}">&laquo; {{ i18n "back_to_home" }}</a>
            {{ partial "article-header" . }}
            <img src="https://visitor-badge.glitch.me/badge?page_id={{ .Permalink }}" alt="Views"/>
            {{ if .Params.audio }}
            <table id="amazon-polly-audio-table"> 
                <tbody> 
                 <tr> 
                  <td id="amazon-polly-audio-tab"> 
                   <div id="amazon-ai-player-label"></div> 
                   <div id="amazon-ai-player-container"> 
                    <audio class="amazon-ai-player" id="amazon-ai-player" preload="none" controls=""> 
                     <source type="audio/mpeg" src="/audio/{{ .Params.audio }}"></source> 
                    </audio> 
                   </div> 
                   <div id="amazon-polly-by-tab"> 
                    <a href="https://aws.amazon.com/polly/" target="_blank" rel="noopener noreferrer"><img src="/img/polly.png" width="164" height="56" /></a> 
                   </div> </td> 
                 </tr> 
                </tbody> 
            </table>
            {{ end }}
            {{ .Content}}
			{{ if not .Params.disableComments }}
            {{ partial "article-share" . }}
			{{ end }}

        </article>
		
        {{ if (not (eq .Site.Params.disqusShortname "")) | and (not .Params.disableComments) }}
        <div class="comments">
            <h3>{{ i18n "comments" }}</h3>
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </main>

{{- end }}
