{{ define "main" -}}
<main role="main" class="content">
<a class="btn home" href="{{ .Site.BaseURL | relLangURL }}" title="{{ i18n "back_to_home" }}">&laquo; {{ i18n "back_to_home" }}</a>
<br><br>
<article class="post">

	 <div id="search-box"><!-- SearchBox widget will appear here --></div>
	 <!-- include algolia logo -->
	 <img src="/img/algolia.png" style="width:8%;"></img>

	 <div id="hits" class="my-4">
	<!-- Hits widget will appear here -->
	 </div>

	 <div id="pagination">
	<!-- Pagination widget will appear here -->
	 </div>
	 
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1/dist/instantsearch.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1/dist/instantsearch-theme-algolia.min.css">
	<style>
	mark {
	  padding: 0;
	}
	</style>

	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1"></script>
	<script src="/js/search.js"></script>

</article>	
</main>
{{- end }}


	



