<aside class="author">
  <a href="{{ .Site.BaseURL | relLangURL }}about" ><img class="profile-image" src="{{ .Site.Params.avatar | absURL }}" alt="{{ .Site.Params.site_author }}" /></a>
  <p class="name">{{ i18n "by" }} 
  <a href="https://mastodon.cloud/@abouix" target="_blank" rel="noopener"><strong>{{ .Site.Params.site_author }}</strong></a></p>
  <p class="address">{{ .Site.Params.location }}</p>
  <p class="description">{{ .Site.Params.site_author_description }}</p>
  <ul class="social">
    {{ partial "social" . }}
  </ul>
  <br><br>
  <button class="badger-button button-badge button--rayen button--border-thick button--text-thick button--size-m" data-text={{ i18n "give" }} data-to="bitcoincash:{{ .Site.Params.donation }}" data-satoshis="600000"><span>{{ i18n "donation" }}</span></button> 
  <br>
  <p class="link">
  <img src="/img/badge-s-pro.png" alt="AWS, Solutions Architect Pro, digital badge">
  <img src="/img/badge-sec.png" alt="AWS, Security Specialty, digital badge">
  </p>
  <p class="link"><img src="/img/badge.png" alt="AWS, Solutions Architect, digital badge">
  &nbsp <img src="/img/badge-dev.png" alt="AWS, Developer Associate, digital badge">
  &nbsp <img src="/img/badge-ops.png" alt="AWS, SysOps, digital badge">
  </p>
  <p class="link">
  <img src="/img/microsoft365-security-administrator-associate.png" alt="Microsoft 365 Securit Administrator Associate">
  <img src="/img/azure-security-engineer-associate.png" alt="Microsoft 365 Securit Administrator Associate">
  </p>
  <br><br>
 <p class="link">
   <a class="twitter-timeline" data-width="250" data-height="600" href="https://twitter.com/ArisvdZ?ref_src=twsrc%5Etfw">Tweets by ArisvdZ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </p>

   <script src="/js/bitcoin-badger.js"></script>

</aside>
