<footer class="main-footer">
  <div class="aParent container clearfix" id="wrapper">
	  <div align="right"> 
			<a href="{{ .Site.BaseURL | relLangURL  }}/policy" title="Privacy Policy">Privacy</a>
	  </div>
	  <div>
			<a class="icon-rss" href="{{ .Site.BaseURL | relLangURL  }}/index.xml" target="_blank" title="RSS"></a>
			 <p>&copy; {{ now.Format "2006" }} &middot; {{ .Site.Params.copyright | markdownify }}</p>
	  </div>
	  <div>
			<nav class="language-selector layout__language-selector" role="navigation">
			<ul class="navbar">
			{{ if .IsTranslated -}}
			{{ range .Translations }}
			<li><a rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Site.Language.Params.LanguageName }}</a></li>
			{{ end -}}
			{{ else -}}
			{{ range .Site.Languages -}}
			{{ if ne $.Site.Language.Lang .Lang }}
			<li><a rel="alternate" href="/{{ .Lang }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Params.LanguageName }}</a></li>
			{{ end -}}
			{{ end -}}
			{{ end -}}
			</ul>
			</nav>
	  </div>
	</div>  
</footer>

<script src="{{ "js/plugins.js" | absURL }}"></script>

{{ range .Site.Params.custom_js }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

{{ template "_internal/google_analytics.html" . }}
<script id="dsq-count-scr" src="//pachli-1.disqus.com/count.js" async></script>



