<footer class="main-footer">
  <div class="aParent container clearfix" id="wrapper">
	  <div align="right"> 
			<a href="/{{ .Lang }}/privacy" target="_blank" title="Privacy Policy">Privacy</a>
	  </div>
	  <div>
			<a class="icon-rss" href="/{{ .Lang }}/index.xml" target="_blank" title="RSS"></a>
			 <p>&copy; {{ now.Format "2006" }} &middot; {{ .Site.Params.copyright | markdownify }}</p>
	  </div>
	  <div>
			<nav class="language-selector layout__language-selector" role="navigation">
			<ul class="navbar">
			{{ if .IsTranslated -}}
			{{ range .Translations }}
			<li><a rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Site.Language.Params.LanguageName }}</a></li>
			{{ end -}}
			{{ else -}}
			{{ range .Site.Languages -}}
			{{ if ne $.Site.Language.Lang .Lang }}
			<li><a rel="alternate" href="/{{ .Lang }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Params.LanguageName }}</a></li>
			{{ end -}}
			{{ end -}}
			{{ end -}}
			</ul>
			</nav>
	  </div>
	</div>  
</footer>

<script src="{{ "js/plugins.js" | absURL }}"></script>
<script src="{{ "js/cookieconsent.min.js" | absURL }}" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "content": {
    "message": "{{ i18n "cookies_message" }}", 
    "dismiss": "{{ i18n "cookies_dismiss" }}", 
    "href": "/{{ .Lang }}/privacy/" 
  }
});
</script>

{{ range .Site.Params.custom_js }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

{{ template "_default/analytics-gtag.html" . }}

{{ if (findRE "<pre" .Content 1) }}
    <script src="/js/copy-code-button.js"></script>
{{ end }}


<script>
	document.getElementById('nav-toggle').onclick = function(){
		document.getElementById("nav-content").classList.toggle("hidden");
	}
</script>



