<a href="/{{ .Lang }}">

<nav id="header" class="fixed w-full z-10 top-0 border-orange bg-white">

	<div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
        <div class="pl-4">
            <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl"  href="/">
                Aristide Bouix
            </a>
        </div>

        <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
				{{ range .Site.Menus.nav -}}
					<li class="mr-2">
						<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="{{ .URL }}"> 
						<span>	{{ .Name }} </span>
						</a>
					</li>
				{{- end }}
			<li class="mr-2">
				{{ partial "dark-toggle" . }}
			</li>
			<li class="mr-2">
				{{ partial "searchbar" . }}
			</li>
			</ul>
		</div>
		</div>

</nav>

<header class="site-header">
    	    

		<div class="transparent-layer" >

			<h1>{{ .Site.Params.header_title }}</h1>

		</div>

		 
 </header>
 </a>