{{ $social := .Site.Params.social }}

{{ range $social }}
  {{- $name := .name | lower -}}
  {{- $url := .url -}}

  {{ if eq $name "twitter" }}
    <li><a href="{{ $url }}" class="icon-twitter" target="_blank" rel="noopener" title="Twitter"></a></li>
  {{ else if eq $name "facebook" }}
    <li><a href="{{ $url }}" class="icon-facebook-squared" target="_blank" title="Facebook"></a></li>
  {{ else if eq $name "linkedin" }}
    <li><a href="{{ $url }}" class="icon-linkedin" target="_blank" rel="noopener" title="LinkedIn"></a></li>
  {{ else if eq $name "behance" }}
    <li><a href="{{ $url }}" class="icon-behance" target="_blank" title="Behance"></a></li>
  {{ else if eq $name "dribbble" }}
    <li><a href="{{ $url }}" class="icon-dribbble" target="_blank" title="Dribbble"></a></li>
  {{ else if eq $name "instagram" }}
    <li><a href="{{ $url }}" class="icon-instagram" target="_blank" title="Instagram"></a></li>
  {{ else if eq $name "github" }}
    <li><a href="{{ $url }}" class="icon-github" target="_blank" rel="noopener" title="GitHub"></a></li>
  {{ else if eq $name "gplus" }}
    <li><a href="{{ $url }}" class="icon-gplus" target="_blank" title="Google+"></a></li>
  {{ else if eq $name "email" }}
    <li><a href="mailto:{{ replace $url "mailto:" "" }}" class="icon-mail" target="_blank" title="Email"></a></li>
  {{ end }}
{{ end }}

<li><a href="/{{ .Lang }}/index.xml" class="icon-rss" target="_blank" title="RSS"></a></li>
