{{ partial "header" . }}
{{ partial "nav.html" . }}
<div class="container clearfix">
    <main role="main" class="content">
            <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ i18n "back_to_home" }}">&laquo; {{ i18n "back_to_home" }}</a>
            <h1>{{ i18n "page_not_found" }}</h1>
            <p>{{ i18n "subtitle" }}</p>
			<br></br>
			<P><img src="/img/sheep.jpg" alt="404 Not Found" style="width:100%;"></p>
    </main>
    {{ partial "author" . }}
</div>
{{ partial "footer" . }}
